body, button {
    font-family: 'Montserrat', Tahoma, Geneva, Verdana, sans-serif;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* box-shadow: rgba(33, 35, 38, 0.3) 0px 10px 10px -10px; */
    background-color: white;
}

.flex-center {
    display: flex; 
    justify-content: center;
}

a {
    background: transparent; 
    border-radius: 8px; 
    color: black;
    text-decoration: none;
    padding: 0.4rem 1rem; 
    border: 0.5px solid black; 
    width: 120px; 
    height: 40px; 
    font-size: 16px;
    transition: all 0.3s ease-out;
}

a:hover {
    color: white;
    background: black;
}

@media screen and (max-width: 500px) {
    .hide-mobile {
      display: none;
    }
}

@media screen and (min-width: 501px) {
    .hide-desktop {
      display: none;
    }
}